* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;

  --text-heading: #327eda;

  --text-label: #00453a;
  --text-input: #212529;
  --text-placeholder: rgba(73, 80, 87, 0.5);
  --bg-input: #dce2e9;
  --outline-input: #02799d;
  --border-input: rgba(73, 80, 87, 0.3);

  --text-button: #fff;
  --bg-button: #327eda;

  --bg-error: #f03e3e;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #4d96f1;
}

body,
input,
button {
  font-size: 1.6rem;
}

.container {
  height: 100vh;
  margin-top: 5rem;
  padding: 1.6rem;
}

.card {
  position: relative;
  max-width: 69rem;

  padding: 3.8rem 5.4rem 5.4rem;
  margin: auto;

  background-color: aliceblue;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  overflow: hidden;
}

.card .title {
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--text-heading);
}

form {
  width: 100%;
}

form h1 {
  margin-bottom: 3.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
form label {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--text-label);

  margin-bottom: 0.8rem;
  display: block;
}
form input {
  width: 100%;

  border: 1px solid var(--border-input);
  background-color: var(--bg-input);
  padding: 1.6rem;
  border-radius: 4px;
}

form input:focus {
  outline: 2px solid var(--outline-input);
}

form input::placeholder {
  color: var(--text-placeholder);
}

.input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
}

form button {
  margin-top: 3.2rem;
  padding: 1.6rem;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  background-color: var(--bg-button);
  border: none;
  border-radius: 4px;

  color: var(--text-button);
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
  transition: 0.3s ease;
}

form button:hover {
  opacity: 0.8;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);

  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal {
  position: relative;
}

.modal button {
  background: none;
  border: none;

  position: absolute;
  top: 1rem;
  right: 1rem;

  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.close i {
  font-size: 2.5rem;
  color: #cacaca;
}

.close i:hover {
  color: #929292;
}

.alert-error.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.alert-error {
  position: absolute;
  background-color: var(--bg-error);
  bottom: 0.9rem;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--text-button);
  padding: 0.8rem 0;
  font-weight: bold;
  transform: translateY(30px);
  transition: transform 0.3s ease-in;

  visibility: hidden;
  opacity: 0;
}
